/*@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('MuseoSC', normal, 500, '../fonts/MuseoSansCyrl-500.woff2');
@include font('PTSb', normal, 700, '../fonts/pt-sans-v12-latin_cyrillic-700.woff2');*/

@font-face {
	font-family: 'MuseoSC';
	src: url('../fonts/museo/museosanscyrl-500.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museo/museosanscyrl-500.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museo/museosanscyrl-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museo/museosanscyrl-500.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museo/museosanscyrl-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museo/museosanscyrl-500.svg#museosanscyrl-500') format('svg'); /* Chrome < 4, Legacy iOS */
}