@import "fonts";
@import "basic";
@import "burger";


/* --------- header --------- */

.header {
	height: 70px;
	background: #2C3E50;
	font-family: 'MuseoSC';

	.container {
		display: flex;
		justify-content: flex-start;
	}
}

.menu {
	display: flex;
	height: 40px;
	align-self: center;
	flex: 0 0 680px;
	min-width: 50px;

	&__list {
		display: flex;
	}
	
	&__item {
		display: block;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		letter-spacing: 0.075px;
		color: #fff;
		padding: 12px 15px;
		border-radius: 5px;
		transition: background .5s ease 0s;
		margin-right: 10px;

		&.active {
			background: #577EB3;

			&:hover {
				background: #577EB3;
				cursor: default;
			}
		}

		&:hover {
			background: rgba(87,126,179,.3);
		}
	}
}

.profit {
	display: flex;
	height: 70px;
	flex: 0 0 226px;
	padding: 22px 10px;
	background: #FFCD60;
	color: #2C3E50;
	font-weight: 600;
	transition: background .5s ease 0s;
	position: relative;
	z-index: 1;

	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		margin-top: -22px;
		margin-left: -10px;
	}

	&:hover {
		background: #ffd04a;
	}

	&::after {
		content: '';
		width: 15px;
		height: 24px;
		background: url('../images/dest/arrow_profit.png') center no-repeat;
	}

	&__text {
		flex: 0 0 78px;
		margin-right: 12px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.075px;
		font-weight: 600;
	}

	&__value {
		margin-right: 15px;
	}

	&__total {
		flex: 0 0 86px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 600;

		&::after {
			content: '\20BD';
			font-size: 18px;
			line-height: 22px;
			font-family: 'Arial';
			font-weight: bold;
			margin-left: 2px;
		}
	}

	&__last {
		font-size: 10px;
		line-height: 12px;
		text-align: right;
		padding-right: 3px;


		&::before {
			content: '\002B';
			font-size: 10px;
			line-height: 13px;
			font-family: 'Arial';
			font-weight: bold;
			margin-right: 2px;
		}

		&::after {
			content: '\20BD';
			font-size: 10px;
			line-height: 13px;
			font-family: 'Arial';
			font-weight: bold;
			margin-left: 3px;
		}
	}
}

.contacts {
	display: flex;
	height: 70px;
	flex: 0 0 334px;
	justify-content: flex-end;
	flex-direction: column;
	padding: 19px 20px 12px 0;
	text-align: right;
	position: relative;
	z-index: 1;
	background: #2C3E50;

	&__link {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		&::after {
			content: '';
			width: 11px;
			height: 6px;
			position: absolute;
			top: 50%;
			right: 6px;
			margin-top: -8px;
			transition: all .3s ease 0s;
			background: url('../images/dest/arrow_contacts.png') center no-repeat;
		}

		&:hover::after {
			margin-top: 0;
		}
	}

	&__manager {
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		letter-spacing: -0.407px;
		margin-bottom: 8px;
	}

	&__curator {
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		letter-spacing: -0.407px;
	}
}


@import "main-content";
@import "footer";
@import "media"